/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

/* #    00. Global variables & Utility classes    # */

    .heading-section {
    font-size: 2.75rem;
    }

    .icon-block {
    font-size: 3.5rem;
    }

    .heading-block {
    font-size: 2.25rem;
    }

    .paragraph-block {
    font-size: 1.25rem;
    }

/* #    00. Global variables & Utility classes    # */


/* ###    03. Header    ### */

    .headings-block > h1 {
    font-size: 3.5rem;
    }

    .headings-block > h2 {
    font-size: 2.5rem;
    }

/* ###    03. Header    ### */

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

/* ###    03. Header    ### */

    .header .wrapper {
    grid-template-rows: 4vh 96vh;
    }

/* ####    03.a Navigation Menu    #### */

    .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    }

/* ####    03.a Navigation Menu    #### */

/* ###    03. Header    ### */


/* ###    04. Main    ### */

/* ####    04.a Projects    #### */

    .content-block-text {
    width: 95%;
    }

    .project-block.content-block {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    }

/* ####    04.a Projects    #### */


/* ####    04.b About    #### */

    .about-block .paragraph-block {
    grid-column: 4/18;
    }

/* ####    04.b About    #### */


/* ####    04.d Contact    #### */

    .contact-block .paragraph-block {
    grid-column: 4/18;
    }

    .contact-block .icon-block {
    grid-column: 5/17;
    }

/* ####    04.d Contact    #### */

/* ###    04. Main    ### */

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

/* #    00. Global variables & Utility classes    # */

    .heading-section {
    font-size: 2.5rem;
    }

    .icon-block {
    font-size: 2.5rem;
    }

    .arrow-block {
    font-size: 2.5rem;
    }

    .heading-block {
    font-size: 2rem;
    }

/* #    00. Global variables & Utility classes    # */


/* ###    03. Header    ### */

    .header .wrapper {
    grid-template-rows: 8vh 92vh;
    }

/* ####    03.b Header Block    #### */ 

    .header-block .icon-block .icon-block-link {
    height: 5rem;
    width: 5rem;
    }

    .headings-block > h1 {
    font-size: 2.5rem;
    }

    .headings-block > h2 {
    font-size: 1.5rem;
    }

/* ####    03.b Header Block    #### */

/* ###    03. Header    ### */


/* ###    04. Main    ### */

    .main .wrapper {
    gap: 1rem;
    }

/* ####    04.b About    #### */

    .about-block .paragraph-block {
    grid-column: 1/21;
    }

/* ####    04.b About    #### */


/* ####    04.d Contact    #### */

    .contact-block .paragraph-block {
    grid-column: 1/21;
    }

    .contact-block .icon-block {
    grid-column: 2/20;
    }

/* ####    04.d Contact    #### */

/* ###    04. Main    ### */
}

/* Small devices (smartphones, less than 576px) */
@media (max-width: 575.98px) {

/* #    00. Global variables & Utility classes    # */

    .content-block-text {
    width: 100%;
    }

/* #    00. Global variables & Utility classes    # */


/* ###    03. Header    ### */

    .header .wrapper {
    grid-template-rows: 8vh 92vh;
    }

    .nav-list-item a{
    font-size: 1.25rem;
    }

    .header-block .icon-block .icon-block-link {
    height: 5rem;
    width: 5rem;
    }

    .headings-block > h1 {
    font-size: 2rem;
    }

    .headings-block > h2 {
    font-size: 1.5rem;
    }

    .header-block .icon-block {
    grid-column: 1/21;
    grid-row: 3/4;
    }

/* ###    03. Header    ### */

/* ####    04.a Projects    #### */

    .project-block .content-block-image {
    grid-column: 9/21;
    margin: 1rem;
    }

    .project-block .content-block-image a img.content-block-image-content {
    outline: 0.25rem solid rgb(255, 255, 255);
    outline-offset: 0.5rem;
    transition: all var(--transition-speed) ease-in;
    }

    .project-block .content-block-image a img.content-block-image-content:hover {
    outline-offset: 2rem;
    transition: all var(--transition-speed) ease-in;
    }

/* ####    04.a Projects    #### */


/* ####    04.c Skills    #### */

    .skills {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    }

    .skills-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }

/* ####    04.c Skills    #### */
}
